@import 'src/client/theme/theme.scss';

.content-header {
  color: $theme-palette-7;
}

.content-header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $theme-unit * 4 $theme-unit * 2;
}
