@import 'src/styles/theme.scss';

.content-persona {
  display: flex;
  color: $theme-palette-7;
  padding: $theme-unit * 2 $theme-unit * 4;

  > .avatar {
    display: flex;
    flex-direction: column;
    flex-grow: 0;

    > p {
      font-weight: 600;
      padding: $theme-unit;
      max-width: 240px;
    }
  }

  > .text {
    width: 100%;

    @media (min-width: $theme-breakpoints-md) {
      margin-left: $theme-unit * 4
    }
  }
}

.content-persona-body {
  margin: $theme-unit * 16 0;
}

.content-persona-header {
  margin: $theme-unit * 8 0;
}
