@import 'src/client/theme/theme.scss';

.navigation {
  display: flex;
  align-items: center;
  height: 100%
}

.navigation-ul {
  display: flex;
  list-style-type: none;
}

.navigation-li {
  margin-left: $theme-unit * 3;

  &:first-child {
    margin-left: 0
  }
}

.navigation-a {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.75rem;
  color: $theme-palette-5;
  transition: color $theme-transition-shortest;

  &:hover {
    color: inherit;
  }
}

.navigation-a-active {
  color: inherit;
}
