@import 'src/client/theme/theme.scss';

.navigation {
  display: flex;
  align-items: center;
  height: $theme-mixins-navigation;
}

.navigation-ul {
  display: flex;
  list-style-type: none;

  > .navigation-li:first-child {
    margin-left: 0
  }
}

.navigation-li {
  margin-left: $theme-unit * 3
}

.navigation-a {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.75rem;
  color: $theme-palette-5;
  transition: color $theme-transition-duration-shortest $theme-transition-easeInOut 0ms;

  &:hover {
    color: inherit;
  }
}

.navigation-active {
  color: inherit;
}
