@import 'src/styles/theme.scss';

.drawer {
  position: fixed;
  width: 100%;
  background-color: $theme-palette-0;
  z-index: $theme-z-drawer;
  color: $theme-palette-7;
  box-shadow: $theme-shadows-8;

  transform: translateY(calc(-100% + #{$theme-mixins-header}));
  opacity: 0;
  transition:
    transform $theme-transition-complex,
    opacity $theme-transition-complex;
}

.drawer-open {
  transform: translateY($theme-mixins-header);
  opacity: 1;
}