@import 'src/client/theme/theme.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 $theme-unit * 3;
  width: calc(100% - #{$theme-unit * 6});
  background-color: $theme-palette-0;
  color: $theme-palette-7;
  box-shadow: $theme-shadows-8;
}
