@import 'src/client/theme/theme.scss';

.link {
  text-decoration: none;
}

.link-button {
  padding: $theme-unit $theme-unit * 2;
  font-weight: 600;
  border: 1px solid $theme-palette-7;
  color: $theme-palette-7;
  transition:
    color $theme-transition-shortest,
    background-color $theme-transition-shortest;

  &:hover {
    color: $theme-palette-0;
    background-color: $theme-palette-7;
  }    
}
