@import 'src/styles/theme.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 $theme-unit * 3;
  width: calc(100% - #{$theme-unit * 6});
  height: $theme-mixins-header;
  background-color: $theme-palette-0;
  color: $theme-palette-7;
  box-shadow: $theme-shadows-8;
  z-index: $theme-z-navigation;
}

.navigation-drawer {
  > ul {
    flex-direction: column;
    margin: 0;
    padding: 0;

    > li {
      margin: $theme-unit * 2 $theme-unit * 4;

      &:first-child {
        margin: $theme-unit * 2 $theme-unit * 4;
      }
    }
  }
}
