@import 'src/styles/theme.scss';

.page {
  background-color: $theme-palette-2;
}

.page-body {
  padding-top: $theme-mixins-header;
  min-height: calc(100vh - #{$theme-mixins-header} - #{$theme-mixins-footer});
}

.page-content {
  padding: $theme-unit * 4 $theme-unit * 2;
  color: $theme-palette-7;

  img, video {
    max-width: 100%;
    border: $theme-border;
    margin-bottom: $theme-unit * 1.5;
  }
}
